<h1>Add a new music collection</h1>

<p>Add collection here:</p>

<form action="/collections" method="post">
  <label for="name">Collection title:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Collection</button>
</form>
